body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("./assets/table2.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1 {
    color: #daa520;
}

#deck img {
    width: 120px;
    height: 120px;
    padding: 10px;
    background-color: rgb(50, 202, 207);
    margin: 5px;
    border: 5px;
    border-style: outset solid;
    border-radius: 10px;
    
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    cursor: pointer;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}