body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("./assets/table2.jpg");
    background-size: cover;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    color: white;
    font-weight: bold;
}

h1 {
    color: #daa520;
    margin-bottom: 0px;
    margin-top: 0px;
}

#amount {
    font-style: bold, italic;
    font-size: 22px;
    color: #daa520;
}

#hand img {
    width: 120px;
    height: 110px;
    padding: 10px;
    background-color: rgb(132, 244, 248);
    margin: 5px;
    margin-bottom: 4px;
    margin-top: 0px;
    border: 5px;
    border-style: outset solid;
    border-radius: 7px;
    
}
#handDealer img {
    width: 120px;
    height: 110px;
    padding: 10px;
    background-color: rgb(216, 218, 112);
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 0px;
    border: 5px;
    border-style: outset solid;
    border-radius: 7px;
}

#sum-dealer,
#player-el,
#sum-el,
#dealer-el {
    display: inline-block;
}
#message-el {
    font-style: italic;
    font-size: 24px;
    margin: 0px;
}
#start-el,
#new-el,
#stand-el,
#chips-el {
    margin-bottom: 12px;
    border-radius: 8px;
    box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 10px 1px #515151;
}

#start-el:hover,
#new-el:hover,
#stand-el:hover,
#chips-el:hover {
    margin-bottom: 12px;
    border-radius: 8px;
    opacity: 1;
    box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 10px 1px #515151;
    
}

#chips-el:hover {
    box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 8px 1px #515151;
    color: rgb(49, 84, 240);

}

#chips-el:active {
    transform: translate(-1px, 1px);
    box-shadow: none;
    color: rgb(49, 84, 240);
    background-color: #ecb677ee;

}

#start-el:hover {
    box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 8px 1px #515151;
    color: rgb(49, 84, 240);
}

#start-el:active {
    transform: translate(-1px, 1px);
    box-shadow: none;
    color: rgb(49, 84, 240);
    background-color: #ecb677ee;
}

#new-el {
    background: goldenrod;
    color:rgb(156, 7, 7);
    
}

#new-el:hover {
    box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 8px 1px #515151;
    color: rgb(49, 84, 240);
}

#new-el:active {
    transform: translate(-1px, 1px);
    box-shadow: none;
    color: rgb(49, 84, 240);
    background-color: #ecb677ee;
}


#stand-el:hover {
    box-shadow: 0px 2px 0px 0px #222121, inset -1px -3px 8px 1px #515151;
    color: rgb(102, 5, 141);
}

#stand-el:active {
    transform: translate(-1px, 1px);
    box-shadow: none;
    color:#870792;
    background-color: #ecb677ee;
}


button {
    color: #016f32;
    cursor: pointer;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.input-error {
    color: red
}